<!DOCTYPE html>
<html>
<head>
<style>
body {
    font-family: Arial;
    background: #f5f6f8;
}
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.header {
    background: #4f46e5;
    color: white;
    padding: 15px;
    font-size: 20px;
}
.otp {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
}
</style>
</head>

<body>
<div class="container">
    <div class="header">
        Expense Tracker App
    </div>

    <p>Your OTP code is:</p>

    <div class="otp">{{otp}}</div>

    <p>Valid for 5 minutes only</p>
</div>
</body>
</html>